:host {
  background: #ffffff;
  color: #495057;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  width: 600px;
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: center;

  .wrapper {
    padding-top: 10%;

    .header {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .content {
      padding-top: 10%;

      input {
        font-size: 1rem;
        color: #495057;
        background: #ffffff;
        padding: 0.75rem 0.75rem;
        border: 1px solid #ced4da;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s,
          box-shadow 0.2s;
        appearance: none;
        border-radius: 6px;
      }
    }
  }
}
